html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button {
	background: #fff;
	border: 1px solid #673AB7;
	color: #673AB7;
	padding: 10px 30px;
	margin: 0 10px;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	color: #fff;
	background-color: #673AB7;
}
ul {
    list-style: none;
}